@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #191A23;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  z-index: 2000;
}
.scroll-btn svg {
  color: #FFFFFF;
  transform: rotate(90deg);
}

.scroll-btn-active {
  opacity: 1;
  transform: translateY(0px);
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
a {
  flex-shrink: 0;
  text-decoration: none;
  display: inline-block;
}

.button {
  color: #FFFFFF;
  background-color: #191A23;
  border-radius: 14px;
  padding: 20px 35px;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}

.site-footer .sitenav__list {
  display: none;
}

.services__title,
.studies__title,
.process__title,
.team__title,
.testimonials__title,
.contact__title {
  padding: 0 7px;
  border-radius: 7px;
  background-color: #B9FF66;
  color: #000000;
  text-transform: capitalize;
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: normal;
}

.services__subtitle,
.studies__subtitle,
.process__subtitle,
.team__subtitle,
.testimonials__subtitle,
.contact__subtitle {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  color: #000000;
}

.services__info,
.studies__info,
.process__wrapper,
.team__wrapper,
.testimonials__wrapper,
.contact__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1050px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 940px) {
  .services__title,
  .studies__title,
  .process__title,
  .team__title,
  .testimonials__title,
  .contact__title {
    font-size: 36px;
    text-align: center;
  }
  .services__info,
  .studies__info,
  .process__wrapper,
  .team__wrapper,
  .testimonials__wrapper,
  .contact__wrapper {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }
  .services__subtitle,
  .studies__subtitle,
  .process__subtitle,
  .team__subtitle,
  .testimonials__subtitle,
  .contact__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}
/* LOGO */
.logo {
  display: flex;
  flex-shrink: 0;
  text-decoration: none;
  margin-right: 25px;
}

.logo__img {
  width: 220px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* SITENAV */
.sitenav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

@media only screen and (min-width: 1050px) {
  .sitenav-bg {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    justify-content: center;
    z-index: 200;
    border-bottom: 1px solid #191A23;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
}
.sitenav__link {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}

.menu-icon {
  display: none;
}

.site-header__button {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 70px;
}
.site-header .site-header__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.site-header .site-header__wrapper span {
  display: flex;
}
@media only screen and (max-width: 1050px) {
  .site-header {
    padding-top: 30px;
    padding-bottom: 40px;
    padding: 20px;
    position: fixed;
    left: 2.5%;
    top: 2.5%;
    z-index: 888;
    background-color: rgba(185, 255, 102, 0.9);
    border: 1px solid #191A23;
    width: 95%;
    border-radius: 45px;
  }
  .site-header .site-header__wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F3F3F3;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    transform: translateY(-100%);
    transition: transform 0.3s linear;
    z-index: 999;
    border-bottom: 1px solid #191A23;
  }
  .site-header .logo__img {
    width: 170px;
    height: 60px;
  }
  .site-header .site-header__active {
    transform: translateX(0%);
  }
  .site-header .sitenav__list {
    flex-direction: column;
    gap: 30px;
  }
  .site-header .menu-icon {
    display: block;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 500px) {
  .site-header .logo__img {
    width: 150px;
    height: 40px;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 430px) {
  .site-header .logo__img {
    width: 140px;
    height: 30px;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 400px) {
  .site-header .site-header__button {
    padding: 20px;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 300px) {
  .site-header .site-header__button {
    padding: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 70px;
}
.hero .hero__info {
  max-width: 530px;
}
.hero .hero__info .hero__title {
  font-weight: 500;
  font-size: 60px;
}
.hero .hero__info .hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.hero .hero__info .hero__title, .hero .hero__info .hero__subtitle {
  margin-top: 0;
  margin-bottom: 35px;
  color: #000000;
}
.hero .hero__img {
  max-width: 600px;
  max-height: 515px;
}
@media only screen and (max-width: 1050px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 60px;
  }
  .hero .hero__info {
    display: flex;
    flex-direction: column;
  }
  .hero .hero__info .hero__title {
    font-size: 43px;
    margin-bottom: 20px;
  }
  .hero .hero__info .hero__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .hero .hero__info .hero__title, .hero .hero__info .hero__subtitle {
    text-align: center;
  }
  .hero .hero__info .hero__button {
    text-align: center;
  }
}

.partners {
  margin-bottom: 140px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.partners .partners__wrapper {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 95px;
       column-gap: 95px;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 42s linear infinite;
}
.partners .partners__wrapper:hover {
  animation-play-state: paused;
}
.partners .partners__wrapper img {
  min-width: -moz-max-content;
  min-width: max-content;
}
.partners .partners__wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.partners .partners__wrapper img {
  filter: grayscale(100%);
  transition: filter 0.3s linear;
}
.partners .partners__wrapper img:hover {
  filter: grayscale(0);
}
@media only screen and (max-width: 750px) {
  .partners .partners__wrapper {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .partners .partners {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .partners .partners__wrapper {
    -moz-column-gap: 37px;
         column-gap: 37px;
  }
}

@media only screen and (max-width: 750px) {
  .partners {
    margin-bottom: 60px;
  }
}
.services {
  margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  .services .services__info {
    margin-bottom: 40px;
  }
}
.services .services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.services .services__cards .services__card {
  width: 100%;
  max-width: 600px;
  border-radius: 45px;
  padding: 50px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0 0 #191A23;
  transition: box-shadow 0.3s linear;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.services .services__cards .services__card:hover {
  box-shadow: 0px 0px 0 0 transparent;
}
.services .services__cards .services__card h3 {
  margin: 0;
  display: inline-block;
  max-width: 222px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
  padding: 0px 7px;
}
.services .services__cards .services__card .card-padding {
  padding-bottom: 93px;
}
@media only screen and (max-width: 600px) {
  .services .services__cards .services__card h3 {
    font-size: 26px;
  }
  .services .services__cards .services__card {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .services .services__cards .services__card .card-padding {
    padding-bottom: 30px;
  }
}
.services .services__cards .services__card:first-child h3, .services .services__cards .services__card:last-child h3, .services .services__cards .services__card:nth-child(4) h3 {
  background-color: #B9FF66;
}
.services .services__cards .services__card:nth-child(2) h3, .services .services__cards .services__card:nth-child(3) h3, .services .services__cards .services__card:nth-child(5) h3 {
  background-color: #FFFFFF;
}
.services .services__cards .services__card:nth-child(1), .services .services__cards .services__card:nth-child(4) {
  background-color: #F3F3F3;
}
.services .services__cards .services__card:nth-child(2), .services .services__cards .services__card:nth-child(5) {
  background-color: #B9FF66;
}
.services .services__cards .services__card:nth-child(3), .services .services__cards .services__card:last-child {
  background-color: #191A23;
}
.services .services__cards .services__card:nth-child(3) span, .services .services__cards .services__card:last-child span {
  background-color: #FFFFFF;
}
.services .services__cards .services__card:nth-child(3) span svg, .services .services__cards .services__card:last-child span svg {
  color: #191A23;
}
.services .services__cards .services__card:nth-child(3) a, .services .services__cards .services__card:last-child a {
  color: #FFFFFF;
}
.services .services__cards .services__card a {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #191A23;
}
.services .services__cards .services__card a span {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191A23;
}
.services .services__cards .services__card a span svg {
  color: #B9FF66;
}

.proposal {
  margin-bottom: 140px;
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;
}
.proposal .proposal__wrapper {
  padding: 60px;
  background-color: #F3F3F3;
  border-radius: 45px;
}
.proposal .proposal__wrapper .proposal__info {
  max-width: 500px;
  position: relative;
  z-index: 100;
}
.proposal .proposal__wrapper .proposal__info .proposal__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
}
.proposal .proposal__wrapper .proposal__info .proposal__subtitle {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.proposal .proposal__wrapper .proposal__info .proposal__button {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.proposal .proposal__wrapper .proposal__img {
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 900px) {
  .proposal .proposal__img {
    display: none;
  }
  .proposal .proposal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proposal .proposal__wrapper .proposal__button {
    width: 100%;
    text-align: center;
  }
  .proposal .proposal__wrapper .proposal__title,
  .proposal .proposal__wrapper .proposal__subtitle {
    text-align: center;
  }
  .proposal .proposal__wrapper .proposal__title {
    font-size: 26px;
  }
  .proposal .proposal__wrapper .proposal__subtitle {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .proposal .proposal__wrapper {
    padding: 20px;
  }
  .proposal .proposal__wrapper .proposal__info .proposal__button {
    font-size: 16px;
    line-height: normal;
  }
}

@media only screen and (max-width: 900px) {
  .proposal {
    margin-bottom: 60px;
  }
}
.studies {
  margin-bottom: 140px;
}
.studies .studies__cards {
  display: flex;
  align-items: center;
  border-radius: 45px;
  overflow: hidden;
}
.studies .studies__cards .studies__card {
  padding: 70px 65px;
  background-color: #191A23;
}
.studies .studies__cards .studies__card p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.studies .studies__cards .studies__card a {
  display: inline-flex;
  gap: 15px;
  align-items: center;
  color: #B9FF66;
}
.studies .studies__cards .studies__card a svg {
  transition: transform 0.3s linear;
}
.studies .studies__cards .studies__card a:hover svg {
  transform: translate(3px, -3px);
}
.studies .studies__cards .studies__card:first-child {
  border-right: 1px solid #FFFFFF;
}
.studies .studies__cards .studies__card:last-child {
  border-left: 1px solid #FFFFFF;
}
@media only screen and (max-width: 1280px) {
  .studies .studies__cards .studies__card {
    padding: 42px 50px;
  }
}

@media only screen and (max-width: 750px) {
  .studies {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .studies .studies__cards {
    gap: 20px;
    overflow: scroll;
    align-items: stretch;
  }
  .studies .studies__cards::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .studies .studies__cards .studies__card {
    min-width: 350px;
    border-radius: 45px;
  }
  .studies .studies__cards .studies__card p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 420px) {
  .studies .studies__cards .studies__card {
    padding: 30px 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .studies .studies__cards .studies__card:first-child {
    border-right: 0px solid transparent;
  }
  .studies .studies__cards .studies__card:last-child {
    border-left: 0px solid transparent;
  }
}
.process {
  margin-bottom: 140px;
}
.process .process__accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.process .process__accordion .accordion {
  padding: 41px 57px 41px 60px;
  background-color: #F3F3F3;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0 0 #191A23;
  transition: background-color 0.3s ease;
}
.process .process__accordion .accordion .accordion__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.process .process__accordion .accordion .accordion__head h4 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
}
.process .process__accordion .accordion .accordion__head h4 div {
  font-weight: 500;
  font-size: 60px;
  line-height: normal;
  color: #000000;
}
.process .process__accordion .accordion .accordion__head span {
  flex-shrink: 0;
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #191A23;
  position: relative;
  background-color: #FFFFFF;
}
.process .process__accordion .accordion .accordion__head span::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 6px;
  background-color: #000000;
  position: absolute;
  top: 26px;
  left: 20px;
}
.process .process__accordion .accordion .accordion__head span::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #000000;
  position: absolute;
  top: 20px;
  left: 26px;
  transition: opacity 0.3s ease;
}
.process .process__accordion .accordion .accordion__head .accordion__badge.change-badge::before {
  opacity: 0;
}
.process .process__accordion .accordion .accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.process .process__accordion .accordion .accordion__body p {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #000000;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: #000000;
}

.change-bg {
  background-color: #B9FF66 !important;
}

@media only screen and (max-width: 750px) {
  .process {
    margin-bottom: 60px;
  }
  .process .process__accordion {
    gap: 20px;
  }
  .process .process__accordion .accordion {
    padding: 30px;
    border-radius: 50px;
  }
  .process .process__accordion .accordion .accordion__head h4 {
    gap: 33px;
    font-size: 18px;
  }
  .process .process__accordion .accordion .accordion__head h4 div {
    font-size: 30px;
  }
  .process .process__accordion .accordion .accordion__head span {
    width: 30px;
    height: 30px;
  }
  .process .process__accordion .accordion .accordion__head span::after {
    width: 9px;
    height: 3px;
    top: 12.5px;
    left: 9.5px;
  }
  .process .process__accordion .accordion .accordion__head span::before {
    width: 3px;
    height: 9px;
    top: 9.5px;
    left: 12.5px;
  }
  .process .process__accordion .accordion .accordion__body p {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .process .process__accordion .accordion .accordion__head h4 {
    gap: 10px;
    font-size: 18px;
  }
  .process .process__accordion .accordion .accordion__head h4 div {
    font-size: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .process .process__accordion .accordion {
    padding: 15px;
  }
  .process .process__accordion .accordion .accordion__head h4 {
    font-size: 16px;
    text-align: center;
  }
}
.team {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team .team__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.team .team__card .card {
  max-width: 386px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0 0 #191A23;
  padding: 40px 35px 63px;
  transition: box-shadow 0.3s linear;
}
.team .team__card .card:hover {
  box-shadow: 0px 0px 0 0 transparent;
}
.team .team__card .card .card__head {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.team .team__card .card .card__head > :first-child {
  margin-right: 20px;
}
.team .team__card .card .card__head div {
  display: flex;
  flex-direction: column;
}
.team .team__card .card .card__head > :last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 10px;
}
.team .team__card .card .card__body {
  padding-top: 28px;
  border-top: 1px solid #000000;
  margin-top: 28px;
}
@media only screen and (max-width: 600px) {
  .team .team__card .card .card__body {
    padding-top: 20px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .team .team__card .card {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .team .team__card {
    gap: 30px;
  }
}
.team .team__button {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 20px 76px;
  align-self: flex-end;
  white-space: nowrap;
}
@media only screen and (max-width: 500px) {
  .team .team__button {
    width: 90%;
    text-align: center;
    align-self: center;
  }
}
@media only screen and (max-width: 500px) {
  .team {
    margin-bottom: 60px;
  }
}

.testimonials {
  margin-bottom: 140px;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .testimonials {
    margin-bottom: 60px;
  }
}
.testimonials .testimonials__slider {
  display: flex;
  flex-direction: column;
  gap: 124px;
  padding: 84px 30px 68px 30px;
  border-radius: 45px;
  background-color: #191A23;
}
.testimonials .testimonials__slider .testimonials__pages {
  display: flex;
  align-items: center;
  gap: 50px;
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page {
  max-width: 606px;
  width: 100%;
  flex-shrink: 0;
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  padding: 48px 52px 80px;
  color: #FFFFFF;
  border: 1px solid #B9FF66;
  width: 100%;
  border-radius: 45px;
  position: relative;
  margin-bottom: 48px;
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page h4::before {
  content: "";
  position: absolute;
  border-bottom: 20px solid #B9FF66;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  bottom: -20px;
  left: 50px;
  transform: rotate(180deg);
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page h4::after {
  content: "";
  position: absolute;
  border-bottom: 20px solid #191A23;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  bottom: -18px;
  left: 50px;
  transform: rotate(180deg);
}
@media only screen and (max-width: 500px) {
  .testimonials .testimonials__slider .testimonials__pages .testimonials__page h4 {
    padding: 30px;
  }
}
@media only screen and (max-width: 430px) {
  .testimonials .testimonials__slider .testimonials__pages .testimonials__page h4 {
    margin-bottom: 40px;
  }
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page strong, .testimonials .testimonials__slider .testimonials__pages .testimonials__page span {
  margin-left: 70px;
}
@media only screen and (max-width: 430px) {
  .testimonials .testimonials__slider .testimonials__pages .testimonials__page strong, .testimonials .testimonials__slider .testimonials__pages .testimonials__page span {
    margin-left: 30px;
  }
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page strong {
  color: #B9FF66;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
}
.testimonials .testimonials__slider .testimonials__pages .testimonials__page span {
  color: #FFFFFF;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
@media only screen and (max-width: 430px) {
  .testimonials .testimonials__slider .testimonials__pages .testimonials__page span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 630px) {
  .testimonials .testimonials__slider {
    padding: 30px 30px 60px 30px;
    gap: 60px;
  }
}
.testimonials .testimonials__slider .testimonials__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  color: #FFFFFF;
}
@media only screen and (max-width: 650px) {
  .testimonials .testimonials__slider .testimonials__buttons {
    gap: 70px;
  }
  .testimonials .testimonials__slider .testimonials__buttons .testimonials__indicator {
    gap: 10px !important;
  }
}
@media only screen and (max-width: 440px) {
  .testimonials .testimonials__slider .testimonials__buttons {
    gap: 40px;
  }
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__icon {
  transition: color 0.3s ease;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__icon:hover {
  color: rgba(255, 255, 255, 0.3);
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__icon:active {
  opacity: 0.6;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__indicator {
  display: flex;
  align-items: center;
  gap: 20px;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__indicator svg:hover {
  opacity: 0.8;
}

.contact {
  margin-bottom: 140px;
}
@media only screen and (max-width: 750px) {
  .contact {
    margin-bottom: 90px;
  }
}
.contact .contact__inner {
  background-color: #F3F3F3;
  border-radius: 45px;
  padding: 60px 100px 80px;
  background-image: url("../img/contact-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -342px center;
}
.contact .contact__inner .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 556px;
  width: 100%;
}
.contact .contact__inner .form .form__circle {
  display: flex;
  align-items: center;
  gap: 35px;
}
.contact .contact__inner .form .form__circle span {
  display: flex;
  align-items: center;
  gap: 14px;
}
.contact .contact__inner .form .form__circle label {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: #000000;
  white-space: nowrap;
}
.contact .contact__inner .form .form__circle input {
  flex-shrink: 0;
}
.contact .contact__inner .form .form__circle .form__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: white;
}
.contact .contact__inner .form .form__circle .form__radio:checked {
  background-color: #FFFFFF;
}
.contact .contact__inner .form .form__circle .form__radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #B9FF66;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.contact .contact__inner .form__about {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.contact .contact__inner .form__about .form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.contact .contact__inner .form__about .form__group:not(:last-child) {
  margin-bottom: 25px;
}
.contact .contact__inner .form__about .form__group label {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.contact .contact__inner .form__about .form__group input, .contact .contact__inner .form__about .form__group textarea {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid #000000;
}
.contact .contact__inner .form__about .form__group textarea {
  min-height: 190px;
  resize: vertical;
}
.contact .contact__inner .contact__button {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}
@media only screen and (max-width: 650px) {
  .contact .contact__inner {
    background-image: none;
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 650px) and (max-width: 370px) {
  .contact .contact__inner {
    padding: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .contact .contact__inner .form__about .form__group:not(:last-child) {
    margin-bottom: 20px;
  }
  .contact .contact__inner .form .form__circle {
    gap: 60px;
    width: 100%;
  }
}
@media only screen and (max-width: 650px) and (max-width: 370px) {
  .contact .contact__inner .form .form__circle {
    justify-content: space-between;
  }
  .contact .contact__inner .form .form__circle span {
    gap: 5px;
  }
}
@media only screen and (max-width: 650px) {
  .contact .contact__inner .form .form__circle label {
    font-size: 16px;
  }
}

.site-footer {
  background-color: #191A23;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 55px 60px 50px;
}
.site-footer .site-footer__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 66px;
}
@media only screen and (max-width: 960px) {
  .site-footer .site-footer__link {
    flex-direction: column;
    gap: 37px;
  }
  .site-footer .site-footer__link .sitenav__list {
    flex-direction: column;
    gap: 15px;
  }
  .site-footer .site-footer__link .sitenav__list .sitenav__link {
    text-decoration: none !important;
  }
}
.site-footer .site-footer__link .sitenav__list {
  display: flex;
  align-items: center;
}
.site-footer .site-footer__link .sitenav__list .sitenav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: underline;
}
.site-footer .site-footer__link .social {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .site-footer__link .social svg {
  display: block;
  color: #FFFFFF;
}
.site-footer .site-footer__contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media only screen and (max-width: 960px) {
  .site-footer .site-footer__contact {
    gap: 37px;
  }
}
@media only screen and (max-width: 960px) {
  .site-footer .site-footer__contact {
    flex-direction: column;
    align-items: center;
  }
  .site-footer .site-footer__contact .first-div {
    align-items: center !important;
  }
  .site-footer .site-footer__contact .first-div span {
    text-align: center;
    display: block;
  }
  .site-footer .site-footer__contact .second-div {
    padding: 30px !important;
  }
  .site-footer .site-footer__contact .second-div form {
    flex-direction: column;
  }
}
.site-footer .site-footer__contact .first-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 332px;
}
.site-footer .site-footer__contact .first-div a {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #191A23;
  background-color: #B9FF66;
  padding: 0 7px;
  border-radius: 7px;
  display: inline-block;
}
.site-footer .site-footer__contact .first-div span {
  font-weight: 400;
  font-size: 19px;
  line-height: normal;
  color: #FFFFFF;
}
.site-footer .site-footer__contact .second-div {
  background-color: #292A32;
  border-radius: 14px;
  padding: 58px 40px;
  max-width: 634px;
  display: flex;
  align-items: center;
}
.site-footer .site-footer__contact .second-div form {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
.site-footer .site-footer__contact .second-div form input {
  border-radius: 14px;
  border: 1px solid #FFFFFF;
  padding: 22px 35px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
.site-footer .site-footer__contact .second-div form input:focus {
  outline: 1px solid #FFFFFF;
}
.site-footer .site-footer__contact .second-div form button {
  border-radius: 14px;
  padding: 20px 35px;
  background-color: #B9FF66;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  white-space: nowrap;
  width: 100%;
}
.site-footer .site-footer__info {
  display: flex;
  align-items: center;
  padding-top: 50px;
  border-top: 1px solid #FFFFFF;
  margin-top: 50px;
  gap: 40px;
}
@media only screen and (max-width: 950px) {
  .site-footer .site-footer__info {
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
    margin-top: 37px;
    gap: 15px;
  }
}
.site-footer .site-footer__info span, .site-footer .site-footer__info a {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media only screen and (max-width: 950px) {
  .site-footer .site-footer__info span, .site-footer .site-footer__info a {
    text-align: center;
  }
}
.site-footer .site-footer__info a {
  text-decoration: underline;
}
@media only screen and (max-width: 1050px) {
  .site-footer {
    margin-right: -10px;
    margin-left: -10px;
    border-radius: 0;
    padding: 50px 20px 30px;
  }
  .site-footer .site-footer__link {
    margin-bottom: 37px;
  }
}
@media only screen and (max-width: 1050px) and (max-width: 960px) {
  .site-footer .logo__img {
    width: 150px;
    height: 50px;
  }
}/*# sourceMappingURL=main.css.map */