@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* GLOBAL */
html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Space Grotesk', serif;
	background-color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: normal;
}

img {
	max-width: 100%;
	height: auto;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
	flex-grow: 1;
}

// COLORS
$primary-color: #b9ff66;
$text-black-color: #000000;
$text-white-color: #ffffff;
$grey-color: #f3f3f3;
$black-color: #191a23;
$light-white-color: rgba(255, 255, 255, 0.3);
$form-text-color: #898989;
$footer-form-bg: #292a32;

// BACK-TOTOP
.scroll-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: $black-color;
	border: none;
	border-radius: 50%;
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	cursor: pointer;
	z-index: 2000;

	svg {
		color: $text-white-color;
		transform: rotate(90deg);
	}
}

.scroll-btn-active {
	opacity: 1;
	transform: translateY(0px);
}

// SCROLL-ANIMATION
.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all 1.3s ease;
}

.active {
	transform: translateY(0);
	opacity: 1;
}

// PARTNERS-ANIMATION
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}

// BUTTON
a {
	flex-shrink: 0;
	text-decoration: none;
	display: inline-block;
}

.button {
	color: $text-white-color;
	background-color: $black-color;
	border-radius: 14px;
	padding: 20px 35px;
	transition: all 0.3s ease;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

.site-footer .sitenav__list {
	display: none;
}

// TITLE-SUBTITLE
.services__title,
.studies__title,
.process__title,
.team__title,
.testimonials__title,
.contact__title {
	padding: 0 7px;
	border-radius: 7px;
	background-color: $primary-color;
	color: $text-black-color;
	text-transform: capitalize;
	display: inline-block;
	margin: 0;
	font-weight: 500;
	font-size: 40px;
	line-height: normal;
}

.services__subtitle,
.studies__subtitle,
.process__subtitle,
.team__subtitle,
.testimonials__subtitle,
.contact__subtitle {
	max-width: 600px;
	font-weight: 400;
	font-size: 18px;
	line-height: normal;
	margin: 0;
	color: $text-black-color;
}

.services__info,
.studies__info,
.process__wrapper,
.team__wrapper,
.testimonials__wrapper,
.contact__wrapper {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 80px;
}

// MEDIA-QUERIES
@media only screen and (max-width: 1050px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 940px) {
	.services__title,
	.studies__title,
	.process__title,
	.team__title,
	.testimonials__title,
	.contact__title {
		font-size: 36px;
		text-align: center;
	}

	.services__info,
	.studies__info,
	.process__wrapper,
	.team__wrapper,
	.testimonials__wrapper,
	.contact__wrapper {
		flex-direction: column;
		gap: 30px;
		margin-bottom: 40px;
	}

	.services__subtitle,
	.studies__subtitle,
	.process__subtitle,
	.team__subtitle,
	.testimonials__subtitle,
	.contact__subtitle {
		text-align: center;
		font-size: 16px;
		line-height: 24px;
	}
}
